Hackathon 115: CDDL compilation warnings

When using anweiss cddl tool (https://github.com/anweiss/cddl) to compile the current CDDL file, it reports the following errors:

$ cddl compile-cddl --cddl draft-ietf-teep-protocol.cddl
error: parser errors
    ┌─ input:19:1
    │
 19 │ $teep-type = uint .size 1
    │ ^^^^^^^^^^^^ all plugs for type socket names must be augmentations using '/='
    ·
 94 │     ? suit-reports => [ + SUIT_Report ],
    │                           ^^^^^^^^^^^ missing definition for rule SUIT_Report
 95 │     ? tc-list => [ + system-property-claims ],
    │                      ^^^^^^^^^^^^^^^^^^^^^^ missing definition for rule system-property-claims
    ·
105 │   component-id => SUIT_Component_Identifier,
    │                   ^^^^^^^^^^^^^^^^^^^^^^^^^ missing definition for rule SUIT_Component_Identifier
    ·
126 │     ? suit-reports => [ + SUIT_Report ],
    │                           ^^^^^^^^^^^ missing definition for rule SUIT_Report
    ·
140 │      ? suit-reports => [ + SUIT_Report ],
    │                            ^^^^^^^^^^^ missing definition for rule SUIT_Report

Error: "incremental parsing error"

As reported earlier, the line 19 does appear to be not compliant with RFC8610 Section 3.9. The others should resolve when including the dependent suit cddl files, see cddl folder.

Also some local Make errors due to reference to **SUIT_Parameters** See

> make -C cbor validate
> diff query_request.diag.bin query_request.hex.bin; diff query_response.diag.bin query_response.hex.bin; diff update.diag.bin update.hex.bin; diff teep_success.diag.bin teep_success.hex.bin; diff teep_error.diag.bin teep_error.hex.bin; diff suit_integrated.diag.bin suit_integrated.hex.bin; diff suit_personalization.diag.bin suit_personalization.hex.bin; diff suit_unlink.diag.bin suit_unlink.hex.bin;
> Binary files suit_personalization.diag.bin and suit_personalization.hex.bin differ
> make -C cddl validate
> cddl check-draft-ietf-teep-protocol.cddl validate ../cbor/query_request.diag.bin || exit 1; cddl check-draft-ietf-teep-protocol.cddl validate ../cbor/query_response.diag.bin || exit 1; cddl check-draft-ietf-teep-protocol.cddl validate ../cbor/update.diag.bin || exit 1; cddl check-draft-ietf-teep-protocol.cddl validate ../cbor/teep_success.diag.bin || exit 1; cddl check-draft-ietf-teep-protocol.cddl validate ../cbor/teep_error.diag.bin || exit 1;
> /Library/Ruby/Gems/2.6.0/gems/cddl-0.9.1/lib/cddl.rb:1077:in `rule_lookup': $$SUIT_Parameters not a type [:grpchoice, [[:member, 1, 1, [:int, 1], [:type1, [:anno, :size, [:prim, 2], [:int, 16]], [:prim, 6, 112, [:prim, 2]]]]], [[:member, 1, 1, [:int, 2], [:anno, :size, [:prim, 2], [:int, 16]]]], [[:member, 1, 1, [:int, 3], [:anno, :cbor, [:prim, 2], [:array, [:member, 1, 1, [:text, "suit-digest-algorithm-id"], [:type1, [:int, -16], [:int, -18], [:int, -43], [:int, -44], [:int, -45]]], [:member, 1, 1, [:text, "suit-digest-bytes"], [:prim, 2]]]]]], [[:member, 1, 1, [:int, 14], [:prim, 0]]], [[:member, 1, 1, [:int, 5], [:prim, 0]]], [[:member, 1, 1, [:int, 21], [:prim, 3]]], [[:member, 1, 1, [:int, 22], [:prim, 0]]], [[:member, 1, 1, [:int, 23], [:prim, 2]]], [[:member, 1, 1, [:int, 24], [:anno, :size, [:prim, 2], [:int, 16]]]], [[:member, 1, 1, [:prim, 1], [:type1, [:type1, [:prim, 0], [:prim, 1]], [:type1, [:prim, 7, 20], [:prim, 7, 21]], [:prim, 3], [:prim, 2]]]], [[:member, 1, 1, [:int, 18], [:prim, 2]]], [[:member, 1, 1, [:int, 12], [:type1, [:prim, 7, 20], [:prim, 7, 21]]]], [[:member, 1, 1, [:int, 13], [:type1, [:prim, 7, 20], [:prim, 7, 21]]]]] (RuntimeError)
> 	from /Library/Ruby/Gems/2.6.0/gems/cddl-0.9.1/lib/cddl.rb:1259:in `type_recall'

After fixing a line in draft-ietf-suite-manifest.cddl 

$$SUIT_Parameters //= (suit-parameter-vendor-identifier => (RFC4122_UUID / cbor-pen))

which anweiss cddl compiler reports, the validation moved forward.

The current error lies in message validation:

CDDL validation failure (nil for [1, {20=>"\xA0\xA1\xA2\xA3\xA4\xA5\xA6\xA7\xA8\xA9\xAA\xAB\xAC\xAD\xAE\xAF", 3=>[0]}, [[[18, -7]], [[18, -8]]], 3]):

@mingpeiwk @hannestschofenig @bremoran
Three people worked independently without merging the knowledge togather.
I will make the PR to resolve this issue.

(1)
This is my cddl for the SUIT_Report I was resolving for the last IETF 114.
https://github.com/ietf-teep/teep-protocol/issues/212
and the procedure to include the above cddl is written on the page 13 of the slide of IETF 114 hackathon.
https://datatracker.ietf.org/meeting/114/materials/slides-114-teep-hackathon-report

(2)
This is @kentakayama work.
He added the line in the Makefile which generates cddl of SUIT_Report from md file at the line.
https://github.com/ietf-teep/teep-protocol/blob/master/cddl/Makefile#L32

(3)
@bremoran have added of adding cddl file of SUIT_Report in this PR.
https://github.com/bremoran/suit-report/pull/1

Let me combine all three and make a PR.


@mcd500 sounds good, thanks.

@mingpeiwk @hannestschofenig @bremoran
This is the status update of today's hackathon.

The PR with the main fixes went into the suit_report repository.
https://github.com/suit-wg/suit-report/pull/3

What is left is to update the Makefile in teep-protocol to adopt the changes in suit_report.

I will make the PR of the Makefile in teep-protocol later.


Made the PR.
https://github.com/ietf-teep/teep-protocol/pull/287


Made a PR for who use recent ubuntu https://github.com/ietf-teep/teep-protocol/pull/292.

Fixed in draft -12