err-msg is suggested to pair with an "err-lang" to identify the language of the error message

Artart Reviewer: Scott Hollenbeck

I found only one issue that needs attention. In Sections 4.4 and 4.6, there's a
description of the err-msg (error message) parameter:

"The err-msg parameter is human-readable diagnostic text that MUST be encoded
using UTF-8 [RFC3629] using Net-Unicode form [RFC5198] with max 128 bytes."

This is helpful, but there's no indication of the human language that should be
used to interpret the diagnostic text. I recommend inclusion of an additional
parameter, perhaps "err-lang", that can be used to identify the language of the
error message. The value of this parameter must be a language tag as specified
in RFC 5646.