[hackathon] Section 4.1.2 missing mention of OCSP stapling data

OCSP stapling data is mentioned in:

Section 4.2 (QueryRequest Message), which talks about including it, e.g., "The TAM provides OCSP data so that the TEEP Agent can validate the status of the TAM certificate chain without making its own external OCSP service call."

Section 9 (Security Considerations), e.g. "The TEEP Agent SHOULD use OCSP information to verify the validity of the TAM's certificate (as well as the validity of intermediate CA certificates)."

However section 4.1.2 (Validating a TEEP Message) contains no mention of it.  It does say "   5.  Follow the steps specified in Section 4 of [RFC8152] ("Signing Objects") for validating a COSE_Sign1 object." but RFC 8152 contains no mention of OCSP.

For comparison, the old OTrP spec had text like:

> Validate that the request TAM certificate is chained to a trusted CA that the TEE embeds as its trust anchor.
> 
> *  Cache the CA OCSP stapling data and certificate revocation check status for other subsequent requests.
> 
> *  A TEE can use its own clock time for the OCSP stapling data validation.

https://datatracker.ietf.org/meeting/111/materials/minutes-111-teep-00 says:

> 149: we start where we left off yesterday. Options: 1) Remove OCSP, 2) specify a negotiation mechanism
> 
> DavidT explained what he means by the negotiation mechanism.
> 
> Ben talks about the need for having a revocation mechanism.
> 
> Ming: In OCSP we send OCSP stappled data but we didn't negotiate the ciphersuites. This slide proposes new functionality for negotiation and discovery.
> 
> DT: Russ made the argument that OCSP stappling might be difficult for constrained node. He was arguing that there are more lightweight solutions.
> 
> 148: DT goes forward on explaining the solution for OCSP and what OTrP said. Should we re-use the text from the OCSP spec?
> 
> Hannes asked about the interworking between X.509 certificates, COSE and OCSP. He was suggesting to use a firmware update mechanism instead.
> 
> Ming: Do we support revocation steps with long-lived certificates? The question is really how.
> 
> Ben: OCSP does not really make sense with COSE. You might just be using hard-coded keys and you might be updating keys with software updates. It is probably still worth to mention that there is a need for revocation.
> 
> DT: We have an issue in the arch. document about using the TEEP protocol for trust anchor management. There is nothing special about the content being configured. Ming mentioned that we should mention that there is a need for a revocation mechanism and it should not mention how.
> 
> Ben and Ming agree.
> 
> DT: There would be no negotation mechanism.
> 
> Ben: The text in 148 still uses the term certificates.
> 
> DT: We can steal text from somewhere else and talk about public key cryptography or so. We can figure out what the appropriate wording is.
> 
> David Brown (from Jabber): Thinking about revocation by update re MCUboot. The issue is that MCUboot is generally immutable, but maybe the CRL could be something that could be updated (or part of the application).
> 
> Daniel Migault (by jabber): I agree with this way of doing.
> 
> Brendan Moran (by jabber): Revocation by update. I suspect that revocation by update is better for constrained devices.